extends base
//- mixin function to get/calculate review stars
include _reviewCard

//- append => This block will also contain the content from the original block
block append head
  //- We can add extra code to the "append" block
  //- Mapbox Implementation code from "Documentation"
  script(src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet')


//- mixin => function in PUG
mixin overviewBox(label, text, icon)
  .overview-box__detail
    svg.overview-box__icon
      use(xlink:href=`/img/icons.svg#icon-${icon}`)
    span.overview-box__label= label
    span.overview-box__text= text

block content  
  //- We have access to "tour" automatically from "getTour" from "viewsController.js"
  section.section-header
    .header__hero
      .header__hero-overlay &nbsp;
      img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)

    .heading-box
      h1.heading-primary
        span= `${tour.name} tour`
      .heading-box__group
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-clock')
          span.heading-box__text= `${tour.duration} days`
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-map-pin')
          span.heading-box__text= tour.startLocation.description

  section.section-description
    .overview-box
      div
        .overview-box__group
          h2.heading-secondary.ma-bt-lg Quick facts

          //- Creating JS variable
          - const date = tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})
          //- Consuming "mixin"
          +overviewBox('Next date', date, 'calendar')
          //- .overview-box__detail
          //-   svg.overview-box__icon
          //-     use(xlink:href='/img/icons.svg#icon-calendar')
          //-   span.overview-box__label Next date
          //-   span.overview-box__text August 2021          
          +overviewBox('Difficulty', tour.difficulty, 'trending-up')
          +overviewBox('Participants', `${tour.maxGroupSize} people`, 'user')
          +overviewBox('Rating', `${tour.ratingsAverage} / 5`, 'star')        

        .overview-box__group
          h2.heading-secondary.ma-bt-lg Your tour guides

          //- Looping tour.guides
          each guide in tour.guides
            .overview-box__detail
              img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)

              //- unbuffer code for conditional
              - if (guide.role === 'lead-guide')
                span.overview-box__label Lead guide
              - if (guide.role === 'guide')
                span.overview-box__label Tour guide
              span.overview-box__text= guide.name         

    .description-box
      h2.heading-secondary.ma-bt-lg= `About ${tour.name} tour`
      //- Unbuffer code to manipulate "tour.description"
      - const paragraphs = tour.description.split('\n');
      //- Looping through the paragraphs
      each p in paragraphs
        //- for each p => p.description__text= p
        p.description__text= p

  section.section-pictures
    //- Looping images with 2 variables (i for index)
    each img, i in tour.images
      .picture-box
        //- Original => img.picture-box__img.picture-box__img--1(src='/img/tour-5-1.jpg', alt='The Park Camper Tour 1')
        img.picture-box__img(src=`/img/tours/${img}`, alt=`The Park Camper Tour ${i + 1}`, class=`picture-box__img--${i + 1}`)
        //- We redefine separately the "class" so we can manipulate the "picture-box Number"

  section.section-map
    //- Storing "tour.locations" data into "#map" ID (# => ID)
    //- data-locations => data attribute (can only contain string)
    //- dataset.locations => This is how is stored for use in JS
    #map(data-locations=`${JSON.stringify(tour.locations)}`)

  section.section-reviews
    .reviews
      //- We have access to "tour.reviews" because we populate "getTour()" before rendering
      each review in tour.reviews
        +reviewCard(review)


  section.section-cta
    .cta
      .cta__img.cta__img--logo
        img(src='/img/logo-white.png', alt='Natours logo')
      //- random pictures from the current tour.images
      img.cta__img.cta__img--1(src=`/img/tours/${tour.images[1]}`, alt='Tour picture')
      img.cta__img.cta__img--2(src=`/img/tours/${tour.images[2]}`, alt='Tour picture')
      .cta__content
        h2.heading-secondary What are you waiting for?
        p.cta__text= `${tour.duration} days. 1 adventure. Infinite memories. Make it yours today!`

        //- If "logged in" redirect to booktour page
        if user 
          //- Storing "tour.id" In "dataset.tourId" 
          button.btn.btn--green.span-all-rows#book-tour(data-tour-id=`${tour.id}`) Book tour now!
        //- Else "redirect" to login page
        else 
          a.btn.btn--green.span-all-rows(href='/login') Log in to book tour